DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_8txy5BNvzuEh@ep-little-union-aojo6kfd-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
SUBSTRATE_RPC_URL=wss://rpc.polkadot.io
LOG_LEVEL=INFO
METRICS_PORT=8001
RETRY_DELAY_SECONDS=2
INDEXER_START_BLOCK=31370000
INDEXER_CATCHUP_WINDOW=25000
